.leaflet-gmx-icon-cadastreDx{
    background-image: url("http://maps.kosmosnimki.ru/api/leaflet/plugins/gmxControls/dist/css/img/gmxSprite.png");
    background-position: -145px -59px;
}

.leaflet-gmx-icon-cadastreDx-active{
    background-image: url("http://maps.kosmosnimki.ru/api/leaflet/plugins/gmxControls/dist/css/img/gmxSprite.png");
    background-position: -145px -92px;
}

.leaflet-gmx-icon-cadastreInfo{
    background-image: url("http://maps.kosmosnimki.ru/api/leaflet/plugins/gmxControls/dist/css/img/gmxSprite.png");
    background-position: -612px -60px;
}

.leaflet-gmx-icon-cadastreInfo-active{
    background-image: url("http://maps.kosmosnimki.ru/api/leaflet/plugins/gmxControls/dist/css/img/gmxSprite.png");
    background-position: -612px -92px;
}
.cadastreLeftMenuContainer {
    margin: 10px 25px 10px 30px;
}
.cadastreLeftMenuLabel1 {
    text-decoration: underline;
    cursor: pointer;
}

.cadastreLegendImage {
    height: 16px;
}
.cadastreLegendImageColumn {
    width: 20px
}
.leaflet-cadastre-infoDisabled {
    pointer-events: none;
}
.leaflet-clickable-raster-layer {
    cursor: help;
}
.cadastreLeftMenuRow {
    height: 17px;
}